{% extends "template.html" %}
{% block css %}
    <title>Google Places API Autocomplete Address Bar</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCv65Fd_RQnwhQuzKAS30JF6DXASmJOuag&libraries=places"></script>
{% endblock %}
{% block body %}
    <input id="autocomplete" placeholder="Enter your address" type="text" />
    <!-- show parts of an address -->
    <!-- <input id="Street Address" placeholder="Street Address" type="text" /> -->

    <button onclick="getInputValue()">Get input Value</button>

    <script>
    function getInputValue() {
    // Get the input element
    var inputElement = document.getElementById("autocomplete");

    // Get the value of the input element
    var inputValue = inputElement.value;

    // Display the value in the console
    console.log("Input Value: " + inputValue);
    var geocodingApiUrl = "https://maps.googleapis.com/maps/api/geocode/json?address=";
    var address = inputValue;
    var apiKey = "AIzaSyCv65Fd_RQnwhQuzKAS30JF6DXASmJOuag";

    // Create a URL for the Geocoding API with the address and API key
    var requestUrl = geocodingApiUrl + encodeURIComponent(address) + "&key=" + apiKey;

    // Make a request to the Geocoding API using XMLHttpRequest
    var request = new XMLHttpRequest();
    request.open("GET", requestUrl);
    request.responseType = "json";
    request.send();

    // Handle the response from the Geocoding API
    request.onload = function() {
    var response = request.response;

    // Check if the Geocoding API returned a valid response
    if (response.status === "OK") {
        // Get the coordinates from the response
        var location = response.results[0].geometry.location;
        var latitude = location.lat;
        var longitude = location.lng;

        // Do something with the coordinates, like display them on a map
        console.log("Latitude: " + latitude + ", Longitude: " + longitude);
    } else {
        console.log("Geocoding failed with status: " + response.status);
    }
    };
    }
    
    </script>

    <script>
        // Initialize the autocomplete object
        var autocomplete = new google.maps.places.Autocomplete(
          document.getElementById("autocomplete")
        );
        
    

      </script>
{% endblock %}
